@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Comfortaa:wght@300&family=Kablammo&family=Poiret+One&family=Quicksand:wght@300&display=swap');


h1 {
  font-family: 'Comfortaa';
}

h2 {
  font-family: 'Comfortaa';
}


.search-container {
  font-family: 'Poiret One';
}


.container {
    text-align: center;
}

.time-container h1 {
    font-color: grey;
    font-family: 'Quicksand';
    font-size: 4rem;
    margin-bottom: 10px;
}

.time-container h2 {
    font-color: grey;
    font-family: 'Quicksand'
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.search-container {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
}

.search-container input {
    width: 80%;
    padding: 15px;
    font-size: 1.2rem;
    border: none;
    border-radius: 30px;
    outline: none;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.search-container button {
    padding: 15px 30px;
    background-color: lightgrey;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
    display: inline-block;
}

.search-container button:hover {
    background-color: whitesmoke;
    color: lightgrey;
}

footer {
    margin-top: 40px;
    font-size: 0.9rem;
    color: lightgrey;
    
}

#search {
    background-color: white;
    border: solid 1px lightgrey;
    color: grey;
    font-family: 'Comfortaa';
}

#searchButton {
  font-family: 'Comfortaa';
}

#moreButton {
  colour: lightgrey;
  text-decorations: none;
  font-family: 'Quicksand';
  padding: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
body {
  overflow: hidden;
}

